/*-------------GENERALE----------*/

body {
  margin: 0;
}
#page {
  max-width: 2000px;
  text-align: center;
}
#content-body {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.banner {
  height: 500px;
  background-image: url("images/banner.jpg");
  background-size: auto;
}
h1, h2, h3, h4, p, button, li, .copyr {
  font-family: 'Questrial', sans-serif;
}
h1 {
  font-size: 56px;
  /*font-family: 'Quicksand', sans-serif;*/
}
h2 {
  font-size: 45px;
  font-weight: bold;
}
h3 {
  font-size: 26px;
  font-weight: bold;
}
h4 {
  font-size: 14px;
  font-weight: bold;
}
button {
  background-color: #64ABD1;
  color: white;
  width: 60%;
  height: 50px;
  font-size: 16px;
  border: 0;
}
ul {
  list-style-type: none;
}
li {
  /*width: 100px;*/
  height: 50px;
  display: inline-flex;
  padding-right: 8px;
}
li a:hover {
  color: #2056ac;
  background-color: #fff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
a {
  color: white;
}
p{
  color: #626262;
}
.bobottom {
  border-bottom: 1px solid #CBCBCB;
  padding-bottom: 60px;
  padding-top: 60px;
}

/*-------Header-----------*/

header {
  width: 100%;
  background-color: #2056ac;
  padding-top: 100px;
}
header i {
  color: white;
}
header h1 {
  color: white;
  padding-bottom: 60px;
  margin-top: 0;
}
#home p{
  line-height: 25px;
}
#home h1{
  color: #323131;
  padding-top: 60px;
}

/*---------nav---------------*/

nav {
  height: 50px;
}
nav ul {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}
li a {
  text-decoration: none;
}



/*--------grid--------*/
.grid{
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
}
.case{
  width: 20%;
}
.case i{
  color: #626262;
}


/*---------contact------*/
#contact{
  background-color: #E3F0F7;
  padding-bottom: 60px;
  padding-top: 60px;
}





/*------footer------*/
footer{
  /*height: 200px;*/
  background-color: #2056ac;
  border-top: 20px solid #3162B1;
  color: white;

}
.copyr{
  color: #c2c0cd;
  font-size: 14px;
}
footer i{
  width: 15px;
  height: 15px;
  background-color: #4C93B9;
  padding: 10px;
  margin-top: 50px;
}

.foot-group{
  padding-top: 100px;
  padding-bottom: 100px;
}
